@media only screen and (min-width : 320px) {
body{
	background-color: white;
	padding:2px;
}
a{
	text-decoration:none;
	color: #666;
}
a:hover{
	color: #3C8CAB;
	background-color: #bbb;
}
p{
	font-family: 'Montserrat', sans-serif;
	
	font-size: x-large;
}



}

@media only screen and (min-width : 768px) {

body{
	padding: 10%;
}
p{
	font-size: xx-large;
}

	
}

